<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>My first three.js app</title>
		<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins&display=swap" rel="stylesheet">
		<style>
			* {
				margin:  0;
				padding: 0;
				box-sizing: border-box;
			}
			
			body, html {
				overflow-x: hidden;
				font-family: "Poppins", sans-serif;
			}
			
		</style>
	</head>
	<body>
		<canvas class="webgl"></canvas>
		<nav>
			<a href="/">Sphere</a>
			<ul>
				<li>Explore</li>
				<li>Create</li>
			</ul>
		</nav>
		<h1 class="title">Give it a spin</h1>
		<script type="module" src="./SphereGeometrys.js"></script>
	</body>
</html>